[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=compositionhelper
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Composition Helper
Comment=A plugin to easily create layers with most common composition helpers